<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/products.css">
</head>

<body>
  <%- include('../partials/headeradmin') %>
    <main class="my-5 py-4">
      <div class="container">
        <h2 class="my-5 h2 text-center">Nuevo Producto</h2>
        <div class="row mb-5">
          <div class="col-md-8 mx-auto">
            <div class="card shadow my-4  bg-dark text-white">

              <form class="card-body" action="/products/" method="POST" enctype="multipart/form-data">
                
                <div class="form-floating mb-3">
                  <input type="number" name="stock" id="stock" class="form-control bg-dark text-white border-bottom">
                  <label for="stock" class="text-white">Stock</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input type="number" name="code" id="code" class="form-control bg-dark text-white border-bottom">
                  <label for="code" class="text-white">Código</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" name="name" id="name" class="form-control bg-dark text-white border-bottom">
                  <label for="name">Nombre</label>
                </div>
                

                <div class="form-floating mb-3">
                  <input type="text" name="brand" id="brand" class="form-control bg-dark text-white border-bottom">
                  <label for="brand" class="text-white">Marca</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" name="automotive" id="automotive" class="form-control bg-dark text-white border-bottom">
                  <label for="automotive" class="text-white">Automotriz</label>
                </div>
              
                <div class="form-floating mb-3">
                  <input type="text" name="engine" id="engine" class="form-control bg-dark text-white border-bottom">
                  <label for="engine" class="text-white">Motor</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input type="text" name="model" id="model" class="form-control bg-dark text-white border-bottom">
                  <label for="model" class="text-white">Modelo</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="number" name="oe_number" id="oe_number" class="form-control bg-dark text-white border-bottom">
                  <label for="oe_number" class="text-white">Num. OE</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" name="description" id="description" class="form-control bg-dark text-white border-bottom">
                  <label for="description" class="text-white">Descripción</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="number" step=".01" name="price" id="price" class="form-control bg-dark text-white border-bottom">
                  <label for="price">Precio</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="date" name="price_update" id="price_update" class="form-control bg-dark text-white border-bottom">
                  <label for="price_update" class="text-white">Actualización de precio</label>
                </div>


                <div class="form-floating mb-3">
                  <input type="text" name="specification" id="specification" class="form-control bg-dark text-white border-bottom">
                  <label for="specification" class="text-white">Especificaciones</label>
                </div>
                
                <div class="form-floating mb-3">
                  <input type="text" name="substituteProducts" id="substituteProducts" class="form-control bg-dark text-white border-bottom">
                  <label for="substituteProducts" class="text-white">Núm de OE de Productos sustitutos separados por coma</label>
                </div>
                

                <div class="custom-file mb-4">
                  <input type="file" class="custom-file-input bg-dark text-white border-bottom" name="img" id="img" aria-describedby="inputImage"
                    lang="es">
                  <label class="custom-file-label" for="img">Elegir Foto</label>
                </div>
                
                <div class="custom-control custom-checkbox mb-4">
                  <input type="checkbox" class="custom-control-input" id="marked" name="marked">
                  <label class="custom-control-label" for="marked">Marcar?</label>
                </div>
                
                <button class="btn btn-primary  waves-effect" type="submit">Guardar</button>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
      <%- include('../partials/scripts') %>
</body>

</html>