<!--Footer-->
<footer class="page-footer text-center font-small mt-4 bg-dark">

    <!--Call to action-->
    <div class="pt-4">
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">

        <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://www.linkedin.com/" target="_blank">
            <i class="fab fa-linkedin mr-3"></i>
        </a>

    </div>
    <!-- Social icons -->

   

</footer>
<!--/.Footer-->