<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
    <div class="container">
  
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <div class="d-flex align-items-center">
          <img src="/img/logo.png" alt="Logo New Motors" class="img-fluid mr-2" style="max-width: 60%;">
        </div>
      </a>
  
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item <%= locals.active == '' ? 'active':'' %> ">
            <a class="nav-link waves-effect" href="/">Inicio
              <% if (locals.active=='/' ) { %>
              <span class="sr-only">(current)</span>
              <% } %>
            </a>
          </li>
          <li class="nav-item <%= locals.active == 'products' ? 'active':'' %>">
            <a class="nav-link" href="/products">Productos</a>
            <% if (locals.active=='products' ) { %>
            <span class="sr-only">(current)</span>
            <% } %>
          </li>
  
          <% if (typeof userLogged !== 'undefined' && userLogged && userLogged.rol==1) { %>
  
          <li class="nav-item">
            <a class="nav-link" href="/orders">Pedidos</a>
            <span class="sr-only"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reportes</a>
            <span class="sr-only"></span>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuarios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users">Clientes</a>
              <a class="dropdown-item" href="/register?type=vendor">Vendedores</a>
              <a class="dropdown-item" href="/register?type=admin">Administradores</a>
            </div>
          </li>
  
          <% } %>
  
          <% if (locals.userFound) { %>
  
          <li class="nav-item  <%= locals.active == 'profile' ? 'active':'' %>">
            <a class="nav-link" href="/profile">Mi Cuenta </a>
          </li>
          <li class="nav-item">
            <form action="/logout" method="POST">
              <button class="btn-link btn py-2 px-3 m-0 nav-link"><i class="fas fa-sign-out-alt"></i></button>
            </form>
          </li>
  
          <% } else { %>
  
          <li class="nav-item">
            <a class="nav-link" href="/login">Ingreso</a>
          </li>
  
          <% } %>
        </ul>
  
        <% if (typeof userLogged !== 'undefined' && userLogged && userLogged.name) { %>
  
        <li class="nav-item" style="list-style: none;">
          <span class="text-white">¡Hola, <%= userLogged.name %>!</span>
        </li>
  
        <% } %>
  
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link mr-2 pr-4" href="/cart">
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Pedido </span>
              <span class="badge red z-depth-1 mr-1 cart-number">0</span>
            </a>
          </li>
  
          <li class="nav-item">
            <a href="https://newmotors.com.ar/" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fa-regular fa-browser"></i>
              Visitar Web
            </a>
          </li>
        </ul>
  
      </div>
  
    </div>
  </nav>
  
  <!-- Script -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-Ku8KrGh2o5UKMVJf/9lj0QLRdvpbRjV+LeX4fUpI/41pL1YqxKkF9C8kAi0lIq6x"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"
    integrity="sha384-7EVXJ7U7GanOrrGB7nPnoUOvp+9C8n0Wid2Xxvq05qVYMKWbDb9yeqmQg3WmhBQ6" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $('#navbarDropdown').on('mouseover', function() {
        $(this).addClass('show');
      });
  
      $('#navbarDropdown').on('mouseout', function() {
        $(this).removeClass('show');
      });
    });
  </script>
  