<tr>
    <td class="white-text">
        <h6>Mensaje</h6>
        <%= mensaje.remitente %>
    </td>
</tr>
<tr class="white-text">
    <td>
        <%= mensaje.mensaje %>
    </td>
</tr>
<tr class="white-text">
    <td>
        <h6>Respuesta</h6>
    </td>
</tr>
<tr class="white-text">
    <td>
        <%= mensaje.respuesta %>
    </td>
</tr>
<% if (user!=null&&user.admin) { %>
<tr class="white-text">
    <td>
        <form action="message/sendResponse" method="POST">
            <div class="md-form">
                <textarea name="respuesta" id="respuesta" class="form-control"></textarea>
                <label>Responder mensaje</label>
                <input type="hidden" id="id" name="id" value="<%= mensaje.id %>">
            </div>
            <button class="btn btn-info ml-0" type="submit" value="responder">Enviar</button>
        </form>
    </td>
</tr>
<% } %>