<tr>
    <td>
        <%= mensaje.remitente %>
    </td>
     
    <td>
        <%= mensaje.mensaje %>
    </td>
    <td>
        <a class="btn btn-warning btn-sm" href=""><i class="fas fa-eye"></i></a>
    </td>
</tr>