<tr>
    <td class="white-text">
        <h6>Mensaje</h6>
        <%= message.sender %>
    </td>
</tr>
<tr class="white-text">
    <td>
        <%= message.message %>
    </td>
</tr>
<tr class="white-text">
    <td>
        <h6>Respuesta</h6>
    </td>
</tr>
<tr class="white-text">
    <td>
        <%= message.response %>
    </td>
</tr>

<% if (userLogged!=null&&userLogged.rol==1) { %>
<tr class="white-text">
    <td>
        <form action="message/sendResponse" method="POST">
            <div class="md-form">
                <textarea name="response" id="response" class="form-control"></textarea>
                <label>Responder mensaje</label>
                <input type="hidden" id="id" name="id" value="<%= message.id %>">
            </div>
            <button class="btn btn-info ml-0" type="submit" value="responder">Enviar</button>
        </form>
    </td>
</tr>
<% } %>