<tr>
    <td>
        <%= orders.id %>
    </td>
    <td>
        <%= orders.userId %>
    </td>
    <td>
        <%= orders.total %>
    </td>
    <td>
        <a class="btn btn-warning btn-sm" href="/order/<%= orders.id %>"><i class="fas fa-eye"></i></a>
    </td>
</tr>