<tr>
    <td>
        <%= user.id_app %>
    </td>
    <td>
        <%= (user.admin ? "admin" : "cliente") %> 
    </td>
    <td>
        <%= user.name %>
    </td>
    <td>
        <%= user.email %>
    </td>
</tr>
