<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/headeradmin') %>
    <main class="error white-text">
      <div class="container">
        <h1>Pagina no encontrada</h1>
      </div>
    </main>
</body>

</html>